

<h1> Lista de Funcionarios</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Cargo</th> 
    <th>Email</th>
    <th>Quantidade de Tarefas</th>
  </tr>

  <% @funcionarios.each do |funcionario| %>
	  <tr>
	    <td><%= funcionario.nome_completo %> </td>
	    <td><%= funcionario.cargo %></td> 
	    <td><%= funcionario.email %></td> 
	    <td>0</td><!--quantidade de taregas -->
	  </tr>
  <% end %>
</table>

  <h3>Numero de funcionarios:<%= @funcionarios.length %> </h3>
